.nominee-dashboard-container {
  max-width: 748px;
  margin: 0 auto;
}

.dashboard-title-wrapper {
  margin: 2rem 0
}

.dashboard-title {
  font-family: $font-family-roboto;
  font-weight: 500;
  font-size: 32px;
  margin: 0;
}

.dashboard-text {
  font-family: $font-family-roboto;
  font-size: 16px;
  margin-top: 1rem;
}

.notification {
  background-color: green;
}

.dashboard-content-panel {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 32px 24px;
}

.account-setup-wrapper {
  display: grid;
  grid-gap: 5px;
}

.account-setup-step-wrapper {
  display: grid;
  grid-template: auto auto / auto 1fr;
  grid-template-areas: "ticker title" "line component";
  grid-row-gap: 5px;
  grid-column-gap: 8px;
}

.ticker {
  grid-area: ticker;
  width: 24px;
  height: 24px;

  background-color: #94a5b3;
  border-radius: 12px;

  font-family: $font-family-roboto;
  text-align: center;
  color: #F3F5F7;
  font-size: 16px;
  font-weight: 500;

  &.active,
  &.done {
    background-color: #1737D6;
  }

}

.title {
  grid-area: title;
  font-family: $font-family-roboto;
  font-size: 16px;
  font-weight: 500;
}

.component-open {
  grid-area: component;
  margin: 20px 20px 27px 0
}
.component-closed {
  height: 16px;
}

.line {
  width: 2px;
  height: 100%;
  background-color: #e7ebee;
  margin: 0 auto;
}

