.transaction-data {
  &.huge {
    .top {
      @include font-headline;
    }

    .bottom {
      @include font-headline-small;
    }
  }

  &.large {
    .top {
      @include font-headline-medium;
    }
  }

  &.medium {
    .top {
      @include font-headline-small;
    }
  }

  &.black {
    .top {
      font-weight: bold;
      color: $neu-charcoal-grey;
    }

    .bottom {
      color: $neu-shuttle-gray;
    }
  }

  .top {
    @include font-default;

    color: $neu-slate-grey;
  }

  .bottom {
    @include font-tab;

    color: $neu-silver;
  }
}
