.table {
  @include media-breakpoint-up(md) {
    width: 100%;
    min-width: 0;
  }

  min-width: 200%;
  font-size: px-to-rem(12px);

  :global(.document-icon),
  :global(.icon) {
    @include rect(20px);

    margin-right: 12px;
  }

  &:not(&--keep-rhythm) {
    .cell {
      &:not(.cell--placeholder) {
        &:last-of-type {
          text-align: end;
        }
      }
    }
  }
}

.header {
  @include font-label;
}

.header-row {
  border-bottom: 1px solid $neu-silver;
}

.row {
  border-bottom: 1px solid $neu-silver;
  padding: 10px 0;

  &:last-child {
    border: 0;
  }

  &--clickable {
    cursor: pointer;

    &:focus {
      // remove default outline
      outline: 0;
    }

    &:hover,
    &:focus {
      .cell {
        position: relative;

        &:first-child {
          &::before {
            border-left: 8px $neu-piss-yellow solid;
            bottom: 0;
            content: "";
            left: -$padding;
            position: absolute;
            top: 0;
          }
        }
      }
    }
  }
}

.cell {
  padding: 10px;
  vertical-align: middle;

  &:global(.middle) {
    vertical-align: middle;
  }

  &:global(.top) {
    vertical-align: center;
  }

  &:global(.bottom) {
    vertical-align: bottom;
  }

  &--placeholder {
    text-align: center;
  }
}

.wrapper {
  overflow: auto;

  padding-left: $padding;
  padding-right: $padding;
}
